body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1891px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:571px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:184px;
  width:321px;
  height:571px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:650px;
  width:98px;
  height:20px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:650px;
  width:73px;
  height:17px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:30px;
  width:242px;
  height:32px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u1111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:156px;
  width:40px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:571px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:862px;
  width:321px;
  height:571px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:1328px;
  width:98px;
  height:20px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:1328px;
  width:73px;
  height:17px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:156px;
  width:158px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u1122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:1459px;
  width:258px;
  height:48px;
  color:#000000;
  text-align:left;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:254px;
  word-wrap:break-word;
}
#u1124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:423px;
  width:200px;
  height:120px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:196px;
  word-wrap:break-word;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:571px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:197px;
  width:321px;
  height:571px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:1309px;
  top:663px;
  width:98px;
  height:20px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:663px;
  width:73px;
  height:17px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:222px;
  width:24px;
  height:24px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:483px;
  width:0px;
  height:0px;
}
#u1135_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:354px;
  height:8px;
}
#u1135_seg1 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:543px;
  width:0px;
  height:0px;
}
#u1137_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:323px;
}
#u1137_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:304px;
  width:20px;
  height:20px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:152px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:793px;
  width:258px;
  height:48px;
  color:#000000;
  text-align:left;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:254px;
  word-wrap:break-word;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:234px;
  width:0px;
  height:0px;
}
#u1141_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u1141_seg1 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-4px;
  width:8px;
  height:37px;
}
#u1141_seg2 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:25px;
  width:562px;
  height:8px;
}
#u1141_seg3 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:25px;
  width:8px;
  height:181px;
}
#u1141_seg4 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:191px;
  width:20px;
  height:20px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:1711px;
  top:440px;
  width:180px;
  height:60px;
  color:#FFFFFF;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
