body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:7075px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:779px;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:2666px;
  top:1028px;
  width:1050px;
  height:779px;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:382px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:572px;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:5153px;
  top:1066px;
  width:322px;
  height:572px;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:572px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:2706px;
  top:1066px;
  width:322px;
  height:572px;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:572px;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:2229px;
  top:1845px;
  width:322px;
  height:572px;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:2706px;
  top:1845px;
  width:321px;
  height:570px;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:2996px;
  top:1867px;
  width:17px;
  height:17px;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:572px;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:5706px;
  top:1066px;
  width:322px;
  height:572px;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:30px;
  width:270px;
  height:32px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:551px;
  width:0px;
  height:0px;
}
#u341_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:236px;
  height:8px;
}
#u341_seg1 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:-10px;
  width:20px;
  height:20px;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:501px;
  width:100px;
  height:100px;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:3235px;
  top:1653px;
  width:280px;
  height:58px;
  text-align:left;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:276px;
  word-wrap:break-word;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:1263px;
  top:551px;
  width:0px;
  height:0px;
}
#u347_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:205px;
  height:8px;
}
#u347_seg1 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:-10px;
  width:20px;
  height:20px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:5790px;
  top:1549px;
  width:0px;
  height:0px;
}
#u349_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:307px;
  height:8px;
}
#u349_seg1 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:-223px;
  width:8px;
  height:227px;
}
#u349_seg2 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:-223px;
  width:433px;
  height:8px;
}
#u349_seg3 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:-229px;
  width:20px;
  height:20px;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:-180px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:2291px;
  top:1269px;
  width:200px;
  height:120px;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:196px;
  word-wrap:break-word;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:2491px;
  top:1329px;
  width:0px;
  height:0px;
}
#u353_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:218px;
  height:8px;
}
#u353_seg1 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:-4px;
  width:8px;
  height:6px;
}
#u353_seg2 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:-13px;
  width:20px;
  height:20px;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:2391px;
  top:1389px;
  width:0px;
  height:0px;
}
#u355_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:460px;
}
#u355_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:441px;
  width:20px;
  height:20px;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:220px;
  width:100px;
  word-wrap:break-word;
}
#u357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:3112px;
  top:2100px;
  width:180px;
  height:60px;
  color:#000000;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:3027px;
  top:2130px;
  width:0px;
  height:0px;
}
#u359_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u359_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-10px;
  width:20px;
  height:20px;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:1464px;
  top:491px;
  width:200px;
  height:120px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:196px;
  word-wrap:break-word;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:1974px;
  top:611px;
  width:0px;
  height:0px;
}
#u363_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:722px;
}
#u363_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:714px;
  width:321px;
  height:8px;
}
#u363_seg2 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:708px;
  width:20px;
  height:20px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:510px;
  width:100px;
  word-wrap:break-word;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:1564px;
  top:611px;
  width:0px;
  height:0px;
}
#u365_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:2143px;
}
#u365_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:2135px;
  width:4924px;
  height:8px;
}
#u365_seg2 {
  border-width:0px;
  position:absolute;
  left:4912px;
  top:715px;
  width:8px;
  height:1428px;
}
#u365_seg3 {
  border-width:0px;
  position:absolute;
  left:4912px;
  top:715px;
  width:46px;
  height:8px;
}
#u365_seg4 {
  border-width:0px;
  position:absolute;
  left:4943px;
  top:709px;
  width:20px;
  height:20px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:2070px;
  top:2132px;
  width:100px;
  word-wrap:break-word;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:2517px;
  top:1882px;
  width:0px;
  height:0px;
}
#u367_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:814px;
}
#u367_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:806px;
  width:3923px;
  height:8px;
}
#u367_seg2 {
  border-width:0px;
  position:absolute;
  left:3911px;
  top:-556px;
  width:8px;
  height:1370px;
}
#u367_seg3 {
  border-width:0px;
  position:absolute;
  left:3911px;
  top:-556px;
  width:94px;
  height:8px;
}
#u367_seg4 {
  border-width:0px;
  position:absolute;
  left:3990px;
  top:-562px;
  width:20px;
  height:20px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:2228px;
  top:802px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:3780px;
  top:1270px;
  width:200px;
  height:120px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:196px;
  word-wrap:break-word;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:3556px;
  top:1330px;
  width:0px;
  height:0px;
}
#u371_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:228px;
  height:8px;
}
#u371_seg1 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:-10px;
  width:20px;
  height:20px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:3980px;
  top:1330px;
  width:0px;
  height:0px;
}
#u373_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:490px;
  height:8px;
}
#u373_seg1 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:-10px;
  width:20px;
  height:20px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:3880px;
  top:1390px;
  width:0px;
  height:0px;
}
#u375_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:472px;
}
#u375_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:453px;
  width:20px;
  height:20px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:226px;
  width:100px;
  word-wrap:break-word;
}
#u378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:3720px;
  top:1858px;
  width:320px;
  height:569px;
  opacity:0.200000002980232;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:3767px;
  top:2045px;
  width:240px;
  height:147px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:3767px;
  top:2162px;
  width:240px;
  height:1px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:30px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:3883px;
  top:2163px;
  width:1px;
  height:29px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:3815px;
  top:2058px;
  width:145px;
  height:1px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:3819px;
  top:2092px;
  width:138px;
  height:36px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:3814px;
  top:2168px;
  width:33px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:3918px;
  top:2168px;
  width:58px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:3947px;
  top:2168px;
  width:0px;
  height:0px;
}
#u396_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-34px;
  width:8px;
  height:34px;
}
#u396_seg1 {
  border-width:0px;
  position:absolute;
  left:-278px;
  top:-34px;
  width:282px;
  height:8px;
}
#u396_seg2 {
  border-width:0px;
  position:absolute;
  left:-278px;
  top:-703px;
  width:8px;
  height:677px;
}
#u396_seg3 {
  border-width:0px;
  position:absolute;
  left:-396px;
  top:-703px;
  width:126px;
  height:8px;
}
#u396_seg4 {
  border-width:0px;
  position:absolute;
  left:-396px;
  top:-703px;
  width:8px;
  height:6px;
}
#u396_seg5 {
  border-width:0px;
  position:absolute;
  left:-402px;
  top:-712px;
  width:20px;
  height:20px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:-324px;
  top:-280px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:572px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:3235px;
  top:1066px;
  width:321px;
  height:572px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:5354px;
  top:1506px;
  width:0px;
  height:0px;
}
#u400_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:205px;
  height:8px;
}
#u400_seg1 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:-158px;
  width:8px;
  height:162px;
}
#u400_seg2 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:-158px;
  width:155px;
  height:8px;
}
#u400_seg3 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:-164px;
  width:20px;
  height:20px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:-60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:2905px;
  top:1528px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u402_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:238px;
  height:8px;
}
#u402_seg1 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:-191px;
  width:8px;
  height:195px;
}
#u402_seg2 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:-191px;
  width:102px;
  height:8px;
}
#u402_seg3 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:-189px;
  width:8px;
  height:6px;
}
#u402_seg4 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:-194px;
  width:20px;
  height:20px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:-33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:3002px;
  top:1103px;
  width:0px;
  height:0px;
}
#u404_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:632px;
}
#u404_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:624px;
  width:428px;
  height:8px;
}
#u404_seg2 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:624px;
  width:8px;
  height:822px;
}
#u404_seg3 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:1438px;
  width:2926px;
  height:8px;
}
#u404_seg4 {
  border-width:0px;
  position:absolute;
  left:3334px;
  top:223px;
  width:8px;
  height:1223px;
}
#u404_seg5 {
  border-width:0px;
  position:absolute;
  left:3334px;
  top:223px;
  width:186px;
  height:8px;
}
#u404_seg6 {
  border-width:0px;
  position:absolute;
  left:3505px;
  top:217px;
  width:20px;
  height:20px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:1596px;
  top:1434px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:2427px;
  top:2305px;
  width:0px;
  height:0px;
}
#u406_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u406_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:203px;
  height:8px;
}
#u406_seg2 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:-179px;
  width:8px;
  height:182px;
}
#u406_seg3 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:-179px;
  width:88px;
  height:8px;
}
#u406_seg4 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:-185px;
  width:20px;
  height:20px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:-40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:2352px;
  top:2293px;
  width:73px;
  height:19px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00CC00;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:2376px;
  top:2291px;
  width:33px;
  height:22px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00CC00;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:450px;
  height:22px;
}
#u412p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:442px;
  height:4px;
}
#u412p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:444px;
  height:6px;
}
#u412p001 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-10px;
  width:22px;
  height:22px;
}
#u412p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:24px;
  height:22px;
}
#u412p002 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:0px;
  width:3px;
  height:3px;
}
#u412p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u412.compound {
  width:0px;
  height:0px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:2551px;
  top:1880px;
  width:438px;
  height:2px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:2230px;
  top:1817px;
  width:99px;
  height:18px;
  font-size:16px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:2706px;
  top:1038px;
  width:99px;
  height:18px;
  font-size:16px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:572px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:265px;
  width:322px;
  height:572px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:2196px;
  top:2427px;
  width:312px;
  height:52px;
  text-align:left;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:308px;
  word-wrap:break-word;
}
#u422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:2680px;
  top:1648px;
  width:312px;
  height:75px;
  text-align:left;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:308px;
  word-wrap:break-word;
}
#u424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:5706px;
  top:1657px;
  width:280px;
  height:81px;
  text-align:left;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
#u426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:5153px;
  top:1648px;
  width:280px;
  height:53px;
  text-align:left;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:2706px;
  top:1817px;
  width:300px;
  height:18px;
  font-size:16px;
  color:#000000;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:5706px;
  top:1038px;
  width:191px;
  height:18px;
  font-size:16px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:3235px;
  top:1038px;
  width:210px;
  height:18px;
  font-size:16px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:5149px;
  top:1038px;
  width:284px;
  height:18px;
  font-size:16px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  white-space:nowrap;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:2758px;
  top:2565px;
  width:300px;
  height:16px;
  font-size:16px;
  color:#FF0000;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:2706px;
  top:2425px;
  width:312px;
  height:109px;
  color:#FF0000;
  text-align:left;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:308px;
  word-wrap:break-word;
}
#u440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:4466px;
  top:1270px;
  width:200px;
  height:120px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:196px;
  word-wrap:break-word;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:4666px;
  top:1330px;
  width:0px;
  height:0px;
}
#u442_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:490px;
  height:8px;
}
#u442_seg1 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:-4px;
  width:8px;
  height:6px;
}
#u442_seg2 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:-13px;
  width:20px;
  height:20px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:4566px;
  top:1390px;
  width:0px;
  height:0px;
}
#u444_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:472px;
}
#u444_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:453px;
  width:20px;
  height:20px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:226px;
  width:100px;
  word-wrap:break-word;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:4406px;
  top:1858px;
  width:320px;
  height:569px;
  opacity:0.200000002980232;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:4453px;
  top:2045px;
  width:240px;
  height:147px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:4453px;
  top:2162px;
  width:240px;
  height:1px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:30px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:4569px;
  top:2163px;
  width:1px;
  height:29px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:4501px;
  top:2058px;
  width:145px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:4464px;
  top:2086px;
  width:220px;
  height:54px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:4493px;
  top:2168px;
  width:56px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:4609px;
  top:2168px;
  width:69px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:4521px;
  top:2186px;
  width:0px;
  height:0px;
}
#u465_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:326px;
}
#u465_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:318px;
  width:1769px;
  height:8px;
}
#u465_seg2 {
  border-width:0px;
  position:absolute;
  left:1757px;
  top:-860px;
  width:8px;
  height:1186px;
}
#u465_seg3 {
  border-width:0px;
  position:absolute;
  left:1757px;
  top:-860px;
  width:244px;
  height:8px;
}
#u465_seg4 {
  border-width:0px;
  position:absolute;
  left:1986px;
  top:-866px;
  width:20px;
  height:20px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:314px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:3831px;
  top:2186px;
  width:0px;
  height:0px;
}
#u467_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:422px;
}
#u467_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:414px;
  width:2563px;
  height:8px;
}
#u467_seg2 {
  border-width:0px;
  position:absolute;
  left:2551px;
  top:-860px;
  width:8px;
  height:1282px;
}
#u467_seg3 {
  border-width:0px;
  position:absolute;
  left:2551px;
  top:-860px;
  width:140px;
  height:8px;
}
#u467_seg4 {
  border-width:0px;
  position:absolute;
  left:2676px;
  top:-866px;
  width:20px;
  height:20px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:1724px;
  top:410px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:5153px;
  top:2147px;
  width:180px;
  height:60px;
  color:#000000;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:4678px;
  top:2177px;
  width:0px;
  height:0px;
}
#u471_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:479px;
  height:8px;
}
#u471_seg1 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:-10px;
  width:20px;
  height:20px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:5153px;
  top:2218px;
  width:280px;
  height:95px;
  text-align:left;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:1874px;
  top:491px;
  width:200px;
  height:120px;
  color:#FFFFFF;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:196px;
  word-wrap:break-word;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:1664px;
  top:551px;
  width:0px;
  height:0px;
}
#u477_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:214px;
  height:8px;
}
#u477_seg1 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:-10px;
  width:20px;
  height:20px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:2074px;
  top:551px;
  width:0px;
  height:0px;
}
#u479_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:229px;
  height:8px;
}
#u479_seg1 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:-10px;
  width:20px;
  height:20px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:491px;
  width:200px;
  height:120px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:196px;
  word-wrap:break-word;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:551px;
  width:0px;
  height:0px;
}
#u483_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:273px;
  height:8px;
}
#u483_seg1 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:-10px;
  width:20px;
  height:20px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:611px;
  width:0px;
  height:0px;
}
#u485_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:405px;
}
#u485_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:397px;
  width:867px;
  height:8px;
}
#u485_seg2 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:-64px;
  width:8px;
  height:469px;
}
#u485_seg3 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:-64px;
  width:37px;
  height:8px;
}
#u485_seg4 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:-70px;
  width:20px;
  height:20px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:394px;
  width:100px;
  word-wrap:break-word;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:6522px;
  top:1270px;
  width:200px;
  height:120px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:196px;
  word-wrap:break-word;
}
#u489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:6895px;
  top:1300px;
  width:180px;
  height:60px;
  font-size:11px;
  color:#FFFFFF;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:176px;
  word-wrap:break-word;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:6722px;
  top:1330px;
  width:0px;
  height:0px;
}
#u491_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:177px;
  height:8px;
}
#u491_seg1 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:-10px;
  width:20px;
  height:20px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:6572px;
  top:1568px;
  width:100px;
  height:100px;
  color:#FFFFFF;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:6622px;
  top:1390px;
  width:0px;
  height:0px;
}
#u495_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:182px;
}
#u495_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:163px;
  width:20px;
  height:20px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:82px;
  width:100px;
  word-wrap:break-word;
}
#u497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:2299px;
  top:521px;
  width:180px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:176px;
  word-wrap:break-word;
}
