body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2391px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:572px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:1462px;
  top:1133px;
  width:322px;
  height:572px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:1462px;
  top:336px;
  width:320px;
  height:569px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:571px;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:1836px;
  width:321px;
  height:571px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:551px;
  width:0px;
  height:0px;
}
#u1151_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:633px;
  height:8px;
}
#u1151_seg1 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:501px;
  width:100px;
  height:100px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:2313px;
  width:0px;
  height:0px;
}
#u1155_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:299px;
  height:8px;
}
#u1155_seg1 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:-243px;
  width:8px;
  height:247px;
}
#u1155_seg2 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:-243px;
  width:164px;
  height:8px;
}
#u1155_seg3 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:-249px;
  width:20px;
  height:20px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:-60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:30px;
  width:230px;
  height:32px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u1159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:491px;
  width:200px;
  height:120px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:196px;
  word-wrap:break-word;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:551px;
  width:0px;
  height:0px;
}
#u1161_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:399px;
  height:8px;
}
#u1161_seg1 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:969px;
  top:611px;
  width:0px;
  height:0px;
}
#u1163_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:751px;
}
#u1163_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:732px;
  width:20px;
  height:20px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:366px;
  width:100px;
  word-wrap:break-word;
}
#u1165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:1462px;
  top:2417px;
  width:280px;
  height:51px;
  text-align:left;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:276px;
  word-wrap:break-word;
}
#u1167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:1462px;
  top:927px;
  width:280px;
  height:62px;
  text-align:left;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:276px;
  word-wrap:break-word;
}
#u1169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:2069px;
  top:927px;
  width:280px;
  height:51px;
  text-align:left;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:276px;
  word-wrap:break-word;
}
#u1171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:571px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:1461px;
  top:1836px;
  width:321px;
  height:571px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:1461px;
  top:1838px;
  width:320px;
  height:569px;
  opacity:0.200000002980232;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:2053px;
  width:240px;
  height:170px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:2191px;
  width:240px;
  height:1px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:1608px;
  top:2199px;
  width:24px;
  height:18px;
  font-size:16px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u1185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:1574px;
  top:2078px;
  width:98px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u1187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:2103px;
  width:189px;
  height:72px;
  font-size:12px;
  text-align:center;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:1730px;
  top:842px;
  width:0px;
  height:0px;
}
#u1189_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:184px;
  height:8px;
}
#u1189_seg1 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:-216px;
  width:8px;
  height:220px;
}
#u1189_seg2 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:-216px;
  width:163px;
  height:8px;
}
#u1189_seg3 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:-222px;
  width:20px;
  height:20px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:-104px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:2069px;
  top:336px;
  width:320px;
  height:569px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:2069px;
  top:336px;
  width:320px;
  height:569px;
  opacity:0.200000002980232;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:2118px;
  top:540px;
  width:240px;
  height:170px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:2118px;
  top:678px;
  width:240px;
  height:1px;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:2222px;
  top:686px;
  width:24px;
  height:18px;
  font-size:16px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u1205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:2190px;
  top:566px;
  width:98px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u1207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:2145px;
  top:591px;
  width:193px;
  height:58px;
  font-size:12px;
  text-align:center;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u1209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:1808px;
  width:143px;
  height:18px;
  font-size:16px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:1358px;
  width:200px;
  height:120px;
  color:#FFFFFF;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:196px;
  word-wrap:break-word;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:969px;
  top:1478px;
  width:0px;
  height:0px;
}
#u1213_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:362px;
}
#u1213_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:343px;
  width:20px;
  height:20px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:172px;
  width:100px;
  word-wrap:break-word;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:1418px;
  width:0px;
  height:0px;
}
#u1215_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:397px;
  height:8px;
}
#u1215_seg1 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:1462px;
  top:1105px;
  width:104px;
  height:18px;
  font-size:16px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:1693px;
  top:1610px;
  width:0px;
  height:0px;
}
#u1219_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:192px;
  height:8px;
}
#u1219_seg1 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:-196px;
  width:8px;
  height:200px;
}
#u1219_seg2 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:-196px;
  width:192px;
  height:8px;
}
#u1219_seg3 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:-202px;
  width:20px;
  height:20px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:-104px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:2069px;
  top:1105px;
  width:142px;
  height:18px;
  font-size:16px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:570px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:2069px;
  top:1133px;
  width:322px;
  height:570px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:277px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:2070px;
  top:1650px;
  width:320px;
  height:53px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:2070px;
  top:1660px;
  width:320px;
  height:36px;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:2142px;
  top:1581px;
  width:177px;
  height:38px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:173px;
  word-wrap:break-word;
}
#u1235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:373px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:2118px;
  top:1182px;
  width:228px;
  height:372px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:178px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:2069px;
  top:1134px;
  width:320px;
  height:569px;
  opacity:0.200000002980232;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:2112px;
  top:1349px;
  width:240px;
  height:170px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:2112px;
  top:1487px;
  width:240px;
  height:1px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:2216px;
  top:1495px;
  width:24px;
  height:18px;
  font-size:16px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u1249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:2182px;
  top:1374px;
  width:98px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u1251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:2138px;
  top:1399px;
  width:189px;
  height:72px;
  font-size:12px;
  text-align:center;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
